// @import "mixins";
// @import "typography";
// @import "variables";
@use "./mixins.scss" as mixins;
@use "./typography.scss";
@use "./variables.scss" as variables;
:root {
  --font-primary: var(--font-plus-jakarta);
  --font-secondary: var(--euclid-circular);
}
body,
.container,
ul {
  &::-webkit-scrollbar {
    position: absolute !important;
    right: 0;
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: variables.$main;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
    &:active {
      background-color: white;
    }
  }
}
.home-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 62 28 0;
  position: relative;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  // @include mixins.pc {
  //   padding: 32px;
  // }

  // @include mixins.laptop() {
  //   padding: 24px;
  // }
  // @include mixins.mobile-big() {
  //   padding: 16px;
  // }
}
