/* @tailwind base;
@tailwind components;
@tailwind utilities; */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-family: var(--euclid-circular), Arial;
}

html {
  scroll-behavior: smooth;
}

main {
}

button,
a,
input[type="file"] {
  cursor: pointer;
}
